html body{
  margin: 0;
  background: #0b132b;
  font-family: 'Rubik', sans-serif;
  font-family: 'Share Tech Mono', monospace;
}
html{
  background: #0b132b;
}

canvas {
    display: block;
    vertical-align: bottom;
  }
  
/*

  .navbar-custom a
  {
    color: #6fffe9 !important;
    text-decoration-color: #6fffe9 !important;
    text-decoration: none !important;
  }

  
  .navbar-custom a:hover
  {
    text-decoration: none !important;
    border-bottom: 1px solid #6fffe9;
    cursor: pointer;
  }

*/


.cool-link {
  display: inline-block;
  color: #6fffe9;
  text-decoration: none;
  font-size: 17px;
}

.navbar-custom a:hover
  {
    text-decoration: none !important;
    color: #6fffe9;
    cursor: pointer;
  }

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  color:  #6fffe9;
  text-decoration: none;
  background: #6fffe9;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  color:  #6fffe9;
  text-decoration: none;
  text-decoration-color:  #6fffe9;
}


  /* ---- particles.js container ---- */
  
  #particles-js {
    background-color: #0b132b;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0; 
  }
  
  /* ---- stats.js ---- */


  .text{
 position: relative;
  color: white;
	width: 50%;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
  
  }

  #raccoonPrincipal{
      width: 300px;
      text-align: center
  }



.about
{
  position: relative;
  background: rgba(0, 0, 0, 0.4) !important;
}






.iconbox{
	text-align: center;
	width: 100%;
}
.icon{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	border:2px solid #6fffe9;
	display:inline-block;
	-webkit-transition: 0.5s ease 0s;
	-moz-transition: 0.5s ease 0s;
	-ms-transition: 0.5s ease 0s;
	-o-transition: 0.5s ease 0s;
	transition: 0.5s ease 0s;
}
.icon i{
	font-size: 30px;
	color: #6fffe9;
}

.iconbox:hover .icon{
	background-color: rgba(19, 43, 114, 0.5);
	border-radius: 0 100px 100px;
}







@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}




  /*  MOBILE RESPONSIVE SHIT  */
  @media only screen and (max-width: 600px) {
    .text{
      position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    color: white;
    width: 90%;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    }


    
  #raccoonPrincipal{
    width: 150px;
    text-align: center
}
  
  }
